@using ConvertJS.DTOs.ResponseDTO
@using ConvertJS.Infras.Constants
@using ConvertJS.Infras.Enums
@{
    ViewData["Title"] = "Account Manager";
    Layout = "_Layout";
    var Pages = (List<AppealCheckPageDTO>)ViewData[KeyTranfer.APPEAL_CHECK_PAGE];
}
@section CustomCss{
    <link href="assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css">
}
    @section CustomScripts{
    <script src="~/js/widgets.bundle.js"></script>
    <script src="~/js/custom/widgets.js"></script>
    <!--begin::Vendors Javascript(used for this page only)-->
    <script src="~/plugins/custom/datatables/datatables.bundle.js"></script>
    <!--end::Vendors Javascript-->
    <script src="~/js/custom/CheckPageCustom.js"></script>

}
    @section CustomHeader{
    <!--begin::Header-->
    <div id="kt_app_header" class="app-header" data-kt-sticky="true" data-kt-sticky-activate="{default: true, lg: true}" data-kt-sticky-name="app-header-minimize" data-kt-sticky-offset="{default: '200px', lg: '300px'}" data-kt-sticky-animation="false">
        <!--begin::Header container-->
        <div class="app-container container-xxl d-flex align-items-center justify-content-between" id="kt_app_header_container">
            <!--begin::Header wrapper-->
            <div class="app-header-wrapper d-flex flex-grow-1 align-items-stretch justify-content-between" id="kt_app_header_wrapper">
                <!--begin::Menu wrapper-->
                <div class="app-header-menu app-header-mobile-drawer align-items-stretch" data-kt-drawer="true" data-kt-drawer-name="app-header-menu" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="250px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_header_menu_toggle" data-kt-swapper="true" data-kt-swapper-mode="{default: 'append', lg: 'prepend'}" data-kt-swapper-parent="{default: '#kt_app_body', lg: '#kt_app_header_wrapper'}">
                    <!--begin::Menu-->
                    <div class="menu menu-rounded menu-active-bg menu-state-primary menu-column menu-lg-row menu-title-gray-700 menu-icon-gray-500 menu-arrow-gray-500 menu-bullet-gray-500 my-5 my-lg-0 align-items-stretch fw-semibold px-2 px-lg-0" id="kt_app_header_menu" data-kt-menu="true">
                        <!--Begin Menu Item-->
                        <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion here me-lg-1">
                            <!--begin:Menu link-->
                            <span class="menu-link">
                                <span class="menu-title">Appeal Check</span>
                                <span class="menu-arrow d-lg-none"></span>
                            </span>
                            <!--end:Menu link-->
                            <!--begin:Menu sub-->
                            <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown px-lg-2 py-lg-4 w-lg-200px">
                                <!--begin:Menu item-->
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link" href="/CheckAccountsDie">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title">Account Die</span>
                                    </a>
                                    <!--end:Menu link-->
                                </div>
                                <!--end:Menu item-->
                                <!--begin:Menu item-->
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link" href="/CheckBMDie">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title">BM Die</span>
                                    </a>
                                    <!--end:Menu link-->
                                </div>
                                <!--end:Menu item-->
                                <!--begin:Menu item-->
                                <div class="menu-item">
                                    <!--begin:Menu link-->
                                    <a class="menu-link active" href="/CheckPage">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title">Check Page</span>
                                    </a>
                                    <!--end:Menu link-->
                                </div>
                                <!--end:Menu item-->
                            </div>
                            <!--end:Menu sub-->
                        </div>
                        <!--end Menu Item-->
                    </div>
                    <!--end::Menu-->
                </div>
                <!--end::Menu wrapper-->
            </div>
            <!--end::Header wrapper-->
        </div>
        <!--end::Header container-->
    </div>
    <!--end::Header-->
    }
    @section CustomPageTitle{
    <!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar">
        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container" class="app-container container-xxl">
            <!--begin::Toolbar container-->
            <div class="d-flex flex-stack flex-row-fluid">
                <!--begin::Toolbar container-->
                <div class="d-flex flex-column flex-row-fluid">
                    <!--begin::Toolbar wrapper-->
                    <!--begin::Page title-->
                    <div class="page-title gap-4 me-3 mb-5 mb-lg-0">
                        <!--begin::Title-->
                        <h1 class="text-gray-900 fw-bolder mb-3 fs-2x">
                            Page Statistic
                            <i class="ki-duotone ki-pin fs-2" style="color: #ff0000ad;">
                                <i class="path1"></i>
                                <i class="path2"></i>
                            </i>
                        </h1>
                        <!--end::Title-->
                        <div class="d-flex align-items-center">
                            <!--begin::Breadcrumb-->
                            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-base">
                                <!--begin::Item-->
                                <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                                    <a href="" class="text-hover-primary">
                                        <i class="ki-duotone ki-home text-gray-700 fs-6"></i>
                                    </a>
                                </li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="breadcrumb-item">
                                    <i class="ki-duotone ki-right fs-7 text-gray-700 mx-n1"></i>
                                </li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Appeal Check</li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="breadcrumb-item">
                                    <i class="ki-duotone ki-right fs-7 text-gray-700 mx-n1"></i>
                                </li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="breadcrumb-item text-gray-500">Page</li>
                                <!--end::Item-->
                            </ul>
                            <!--end::Breadcrumb-->
                        </div>
                    </div>
                    <!--end::Page title-->
                </div>
                <!--end::Toolbar container-->
            </div>
            <!--end::Toolbar container-->
        </div>
        <!--end::Toolbar container-->
    </div>
    <!--end::Toolbar-->
    }
    <div id="kt_app_content_container" class="app-container">
        <!--begin::Card-->
        <div class="card">
            <!--begin::Card header-->
            <div class="card-header border-0 pt-6">
                <!--begin::Card title-->
                <div class="card-title">
                    <!--begin::Search-->
                    <div class="d-flex align-items-center position-relative my-1">
                        <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5"><span class="path1"></span><span class="path2"></span></i>
                        <input type="text" data-kt-page-table-filter="search" class="form-control form-control-solid w-250px ps-13" placeholder="Search Page">
                    </div>
                    <!--end::Search-->
                </div>
                <!--end::Card title-->
                <!--begin::Card toolbar-->
                <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                    <!--begin::Toolbar-->
                    <div class="w-100 mw-150px">
                        <!--begin::Select2-->
                        <select class="form-select form-select-solid" data-control="select2" data-hide-search="true" data-placeholder="Select Status" data-kt-page-table-filter="status">
                            <option></option>
                            <option value="all">All</option>
                            <option value="live">Live</option>
                            <option value="reject">Reject</option>
                        </select>
                        <!--end::Select2-->
                    </div>
                    <!--end::Toolbar-->
                </div>
                <!--end::Card toolbar-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body py-4">
                <!--begin::Table-->
                <div id="kt_table_users_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="table-responsive">
                        <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="table_page">
                            <thead>
                                <tr class="text-start text-muted fw-bold fs-6 text-uppercase gs-0">
                                    <th class="text-center">No</th>
                                    <th>Status</th>
                                    <th>Page Name</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody class="text-gray-600 fw-semibold">
                                @{
                                var no = 0;
                            }
                            @foreach (var pageDTO in Pages)
                            {
                                no++;
                                <tr class="odd">
                                    <td class="text-center">
                                        <span class="fw-bold"> @(no)</span>
                                    </td>
                                    <td>
                                        @switch (pageDTO.Status)
                                        {
                                            case PageStatus.Live:
                                                <span class="badge badge-light-success fs-4" data-order="live"> Live </span>
                                                break;
                                            case PageStatus.Reject:
                                                <span class="badge badge-light-danger fs-4" data-order="reject"> Reject </span>
                                                break;
                                        }
                                    </td>
                                    <td>
                                        <span class="fw-bold"> @pageDTO.PageName </span>
                                    </td>
                                    <td class="text-center">
                                        <button fakeReport class="btn btn-success fs-6">Report</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!--end::Table-->
        </div>
        <!--end::Card body-->
    </div>
    <!--end::Card-->
</div>
<script>
    var elements = document.querySelectorAll("[fakeReport]");
    elements.forEach(e => {
        e.addEventListener("click",e => {
            setTimeout(e=> {
            Swal.fire({
                icon: "error",
                title: "<strong>Report</strong>",
                text: "Report Page không thành công!",
                confirmButtonText: "Ok, got it!"
            });},3000)
        })
    })
</script>