@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<!--begin::Content wrapper-->
<div class="d-flex flex-column flex-column-fluid">
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container container-xxl">
            <!-- Thông tin cơ bản -->
            <!--begin::Row-->
            <div class="row g-5 g-xl-10 mb-xl-10">
                <!--begin::Col-->
                <div class="col-xl-4 mb-md-5 mb-xl-10">
                    <!--begin::Card widget 5-->
                    <div class="card card-flush mb-xl-10">
                        <!--begin::Header-->
                        <div class="d-flex justify-content-center card-header pt-5">
                            <!--begin::Title-->
                            <div class="card-title">
                                <!--begin::Info-->
                                <div class="fs-3 fw-bold text-gray-800 lh-1">
                                    <span>Active Account</span>
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::Title-->
                        </div>
                        <!--end::Header-->
                        <!--begin::Card body-->
                        <div class="d-flex align-items-start justify-content-center pt-0">
                            <!--begin::Progress-->
                            <div class="d-flex align-items-center flex-column mt-3 mb-5 w-100">
                                <div class="text-center fs-3 fw-bold text-gray-800 lh-1">
                                    <span class="text-success">123</span>
                                </div>
                            </div>
                            <!--end::Progress-->
                        </div>
                        <!--end::Card body-->
                    </div>
                    <!--end::Card widget 5-->
                    <!--begin::Card widget 8-->
                    <!--end::Card widget 8-->
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-xl-4 mb-md-5 mb-xl-10">
                    <!--begin::Card widget 5-->
                    <div class="card card-flush mb-xl-10">
                        <!--begin::Header-->
                        <div class="d-flex justify-content-center card-header pt-5">
                            <!--begin::Title-->
                            <div class="card-title">
                                <!--begin::Info-->
                                <div class="fs-3 fw-bold text-gray-800 lh-1">
                                    <span>Active BM</span>
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::Title-->
                        </div>
                        <!--end::Header-->
                        <!--begin::Card body-->
                        <div class="d-flex align-items-start justify-content-center pt-0">
                            <!--begin::Progress-->
                            <div class="d-flex align-items-center flex-column mt-3 mb-5 w-100">
                                <div class="text-center fs-3 fw-bold text-gray-800 lh-1">
                                    <span class="text-success">123</span>
                                </div>
                            </div>
                            <!--end::Progress-->
                        </div>
                        <!--end::Card body-->
                    </div>
                    <!--end::Card widget 5-->
                    <!--begin::Card widget 8-->
                    <!--end::Card widget 8-->
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-xl-4 mb-md-5 mb-xl-10">
                    <!--begin::Card widget 5-->
                    <div class="card card-flush mb-xl-10">
                        <!--begin::Header-->
                        <div class="d-flex justify-content-center card-header pt-5">
                            <!--begin::Title-->
                            <div class="card-title">
                                <!--begin::Info-->
                                <div class="fs-3 fw-bold text-gray-800 lh-1">
                                    <span>Active Fanpage</span>
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::Title-->
                        </div>
                        <!--end::Header-->
                        <!--begin::Card body-->
                        <div class="d-flex align-items-start justify-content-center pt-0">
                            <!--begin::Progress-->
                            <div class="d-flex align-items-center flex-column mt-3 mb-5 w-100">
                                <div class="text-center fs-3 fw-bold text-gray-800 lh-1">
                                    <span class="text-success">123</span>
                                </div>
                            </div>
                            <!--end::Progress-->
                        </div>
                        <!--end::Card body-->
                    </div>
                    <!--end::Card widget 5-->
                    <!--begin::Card widget 8-->
                    <!--end::Card widget 8-->
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
        </div>
        <!--end::Content container-->
    </div>
    <!--end::Content-->
</div>
<!--end::Content wrapper-->