@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
    ViewData["MenuLink"] = new List<string> { "Dashboard" };
    ViewData["CurrentSection"] = "Dashboard";
}
@section CustomHeader{
    <!--begin::Header-->
    <div id="kt_app_header" class="app-header" data-kt-sticky="true" data-kt-sticky-activate="{default: true, lg: true}" data-kt-sticky-name="app-header-minimize" data-kt-sticky-offset="{default: '200px', lg: '300px'}" data-kt-sticky-animation="false">
        <!--begin::Header container-->
        <div class="app-container container-xxl d-flex align-items-center justify-content-between" id="kt_app_header_container">
            <!--begin::Header wrapper-->
            <div class="app-header-wrapper d-flex flex-grow-1 align-items-stretch justify-content-between" id="kt_app_header_wrapper">
                <!--begin::Menu wrapper-->
                <div class="app-header-menu app-header-mobile-drawer align-items-stretch" data-kt-drawer="true" data-kt-drawer-name="app-header-menu" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="250px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_header_menu_toggle" data-kt-swapper="true" data-kt-swapper-mode="{default: 'append', lg: 'prepend'}" data-kt-swapper-parent="{default: '#kt_app_body', lg: '#kt_app_header_wrapper'}">
                    <!--begin::Menu-->
                    <div class="menu menu-rounded menu-active-bg menu-state-primary menu-column menu-lg-row menu-title-gray-700 menu-icon-gray-500 menu-arrow-gray-500 menu-bullet-gray-500 my-5 my-lg-0 align-items-stretch fw-semibold px-2 px-lg-0" id="kt_app_header_menu" data-kt-menu="true">
                        <!--Begin Menu Item-->
                        <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item here menu-lg-down-accordion me-lg-1">
                            <!--begin:Menu link-->
                            <span class="menu-link">
                                <span class="menu-title">Dashboard</span>
                                <span class="menu-arrow d-lg-none"></span>
                            </span>
                            <!--end:Menu link-->
                        </div>
                        <!--end Menu Item-->
                    </div>
                    <!--end::Menu-->
                </div>
                <!--end::Menu wrapper-->
            </div>
            <!--end::Header wrapper-->
        </div>
        <!--end::Header container-->
    </div>
    <!--end::Header-->
    }

    @section CustomPageTitle{
    <!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar">
        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container" class="app-container container-xxl">
            <!--begin::Toolbar container-->
            <div class="d-flex flex-stack flex-row-fluid">
                <!--begin::Toolbar container-->
                <div class="d-flex flex-column flex-row-fluid">
                    <!--begin::Toolbar wrapper-->
                    <!--begin::Page title-->
                    <div class="page-title gap-4 me-3 mb-5 mb-lg-0">
                        <!--begin::Title-->
                        <h1 class="text-gray-900 fw-bolder mb-3 fs-2x">Dashboard</h1>
                        <!--end::Title-->
                        <div class="d-flex align-items-center">
                            <!--begin::Breadcrumb-->
                            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-base">
                                <!--begin::Item-->
                                <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                                    <a href="" class="text-hover-primary">
                                        <i class="ki-duotone ki-home text-gray-700 fs-6"></i>
                                    </a>
                                </li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="breadcrumb-item">
                                    <i class="ki-duotone ki-right fs-7 text-gray-700 mx-n1"></i>
                                </li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Dashboard</li>
                                <!--end::Item-->
                            </ul>
                            <!--end::Breadcrumb-->
                        </div>
                    </div>
                    <!--end::Page title-->
                </div>
                <!--end::Toolbar container-->
                <!--begin::Actions-->
                <div class="d-flex align-self-center flex-center flex-shrink-0">
                    <a href="#" class="btn btn-sm btn-secondary d-flex flex-center ms-3 px-4 py-3" data-bs-toggle="modal" data-bs-target="#kt_modal_invite_friends">
                        <i class="ki-duotone ki-plus-square fs-2 text-gray-400">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                        </i>
                        <span>Invite</span>
                    </a>
                    <a href="#" class="btn btn-sm btn-success ms-3 px-4 py-3" data-bs-toggle="modal" data-bs-target="#kt_modal_new_target">
                        Create
                        <span class="d-none d-sm-inline">App</span>
                    </a>
                </div>
                <!--end::Actions-->
            </div>
            <!--end::Toolbar container-->
        </div>
        <!--end::Toolbar container-->
    </div>
    <!--end::Toolbar-->
    }
    <!--begin::Content wrapper-->
    <div class="d-flex flex-column flex-column-fluid">
        <!--begin::Content-->
        <div id="kt_app_content" class="app-content flex-column-fluid">
            <!--begin::Content container-->
            <div id="kt_app_content_container" class="app-container container-xxl">
                <!-- Thông tin cơ bản -->
                <!--begin::Row-->
                <div class="row g-5 g-xl-10 mb-xl-10">
                    <!--begin::Col-->
                    <div class="col-xl-4 mb-md-5 mb-xl-10">
                        <!--begin::Card widget 5-->
                        <div class="card card-flush mb-xl-10">
                            <!--begin::Header-->
                            <div class="d-flex justify-content-center card-header pt-5">
                                <!--begin::Title-->
                                <div class="card-title">
                                    <!--begin::Info-->
                                    <div class="fs-3 fw-bold text-gray-800 lh-1">
                                        <span>Active Account</span>
                                    </div>
                                    <!--end::Info-->
                                </div>
                                <!--end::Title-->
                            </div>
                            <!--end::Header-->
                            <!--begin::Card body-->
                            <div class="d-flex align-items-start justify-content-center pt-0">
                                <!--begin::Progress-->
                                <div class="d-flex align-items-center flex-column mt-3 mb-5 w-100">
                                    <div class="text-center fs-3 fw-bold text-gray-800 lh-1">
                                        <span class="text-success">123</span>
                                    </div>
                                </div>
                                <!--end::Progress-->
                            </div>
                            <!--end::Card body-->
                        </div>
                        <!--end::Card widget 5-->
                        <!--begin::Card widget 8-->
                        <!--end::Card widget 8-->
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-xl-4 mb-md-5 mb-xl-10">
                        <!--begin::Card widget 5-->
                        <div class="card card-flush mb-xl-10">
                            <!--begin::Header-->
                            <div class="d-flex justify-content-center card-header pt-5">
                                <!--begin::Title-->
                                <div class="card-title">
                                    <!--begin::Info-->
                                    <div class="fs-3 fw-bold text-gray-800 lh-1">
                                        <span>Active BM</span>
                                    </div>
                                    <!--end::Info-->
                                </div>
                                <!--end::Title-->
                            </div>
                            <!--end::Header-->
                            <!--begin::Card body-->
                            <div class="d-flex align-items-start justify-content-center pt-0">
                                <!--begin::Progress-->
                                <div class="d-flex align-items-center flex-column mt-3 mb-5 w-100">
                                    <div class="text-center fs-3 fw-bold text-gray-800 lh-1">
                                        <span class="text-success">123</span>
                                    </div>
                                </div>
                                <!--end::Progress-->
                            </div>
                            <!--end::Card body-->
                        </div>
                        <!--end::Card widget 5-->
                        <!--begin::Card widget 8-->
                        <!--end::Card widget 8-->
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-xl-4 mb-md-5 mb-xl-10">
                        <!--begin::Card widget 5-->
                        <div class="card card-flush mb-xl-10">
                            <!--begin::Header-->
                            <div class="d-flex justify-content-center card-header pt-5">
                                <!--begin::Title-->
                                <div class="card-title">
                                    <!--begin::Info-->
                                    <div class="fs-3 fw-bold text-gray-800 lh-1">
                                        <span>Active Fanpage</span>
                                    </div>
                                    <!--end::Info-->
                                </div>
                                <!--end::Title-->
                            </div>
                            <!--end::Header-->
                            <!--begin::Card body-->
                            <div class="d-flex align-items-start justify-content-center pt-0">
                                <!--begin::Progress-->
                                <div class="d-flex align-items-center flex-column mt-3 mb-5 w-100">
                                    <div class="text-center fs-3 fw-bold text-gray-800 lh-1">
                                        <span class="text-success">123</span>
                                    </div>
                                </div>
                                <!--end::Progress-->
                            </div>
                            <!--end::Card body-->
                        </div>
                        <!--end::Card widget 5-->
                        <!--begin::Card widget 8-->
                        <!--end::Card widget 8-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Row-->
            </div>
            <!--end::Content container-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Content wrapper-->