@using ConvertJS.DTOs.ResponseDTO
@model BusinessDTO
<div class="modal fade" tabindex="-1" id="kt_invite_bm_modal_@(Model.IDBM)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Invite Account</h3>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <form class="form form-control">
                    <!--begin::Input group-->
                    <div class="d-flex flex-column mb-8 fv-row">
                        <label class="required fs-6 fw-semibold mb-2">Role</label>
                        <select id="role_invite" class="form-select form-select-solid" data-control="select2" data-hide-search="true" data-placeholder="Select Role" name="roleInvite">
                            <option value="ADMIN">ADMIN</option>
                            <option value="EMPLOYEE">EMPLOYEE</option>
                        </select>
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="d-flex flex-column mb-8 fv-row">
                        <label class="required fs-6 fw-semibold mb-2">Email</label>
                        <input id="inputEmail_@(Model.IDBM)" type="text" class="form-control form-control-solid" name="uid" placeholder="Enter Email">
                    </div>
                    <!--end::Input group-->
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <button id="btn-invite-@Model.IDBM" type="button" class="btn btn-primary" idTKqc="@Model.IDBM">
                    <span class="indicator-label">Invite</span>
                    <span class="indicator-progress">
                        Please wait...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>

                <script>
                    var id = "#btn-invite-@(Model.IDBM)";
                    var btnInvite = document.querySelector(id);
                    btnInvite.addEventListener("click", e => {
                        e.currentTarget.setAttribute('data-kt-indicator', 'on');
                        let idTKqc = e.currentTarget.getAttribute("idTKqc");
                        console.log(idTKqc);
                        let role = document.getElementById("role_invite").value;
                        console.log(role);
                        let gmail = document.getElementById(`inputEmail_${@Model.IDBM}`).value;
                        window.location.href = `/BmManager/InviteUserBm?idTkqc=${idTKqc}&gmail=${gmail}&role=${role}`;
                    })
                </script>
            </div>
        </div>
    </div>
</div>