@using ConvertJS.DTOs.ResponseDTO
@using ConvertJS.Infras.Enums
@model AdsAccountDTO
<div class="modal fade" tabindex="-1" id="kt_list_user_modal_@(Model.Id)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">List Account</h3>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="table_account_modal_@(Model.Id)">
                    <thead>
                        <tr class="text-start text-muted fw-bold fs-6 text-uppercase gs-0">
                            <th class="text-center">ROLE</th>
                            <th>Account Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-600 fw-semibold">
                        @foreach (var user in Model.Users)
                        {
                            <tr class="odd">
                                <td class="text-center">
                                    @switch (user.Role)
                                    {
                                        case Role.Admin:
                                            <span class="badge badge-light-success fs-6" data-order="active"> Admin </span>
                                            break;
                                        case Role.Employee:
                                            <span class="badge badge-light-primary fs-6" data-order="active"> Employee </span>
                                            break;
                                        case Role.Client:
                                            <span class="badge badge-light-info fs-6" data-order="active"> Client </span>
                                            break;
                                        case Role.Owned:
                                            <span class="badge badge-light-info fs-6" data-order="active"> Owned </span>
                                            break;
                                    }
                                </td>
                                <td>
                                    <span class="fw-bold"> @user.Name </span>
                                </td>
                                <td>
                                    <a href="/AccountManager/DeleteUser?userId=@(user.UserId)&idTKQC=@(Model.Id)" class="btn btn-danger fs-7" style="padding:1vh">DELETE</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
